{% extends 'flatpages/default.html' %}

{% block title %}
News
{% endblock title %}

{% block content %}
    <h1>Все новости</h1>
    <h3>{{ time_now|date:'M d Y' }}</h3>
    <hr>
    {% if news %}
        <table class="data">
            <tr>
                <td>
                    Название
                </td>
                <td>
                    Описание
                </td>
                <td>
                    Дата
                </td>
            </tr>
        {% for new in news %}
            <tr>
                <td style="text-align: right">
                    {{ new.title }}
                </td>
                <td style="text-align: right">
                    {{ new.text|truncatechars:50 }}
                </td>
                <td style="text-align: center">
                    {{ new.dateCreation }}
                </td>
            </tr>
        {% endfor %}
        </table>
    {% else %}
        <h2>Новостей нет!</h2>
    {% endif %}
{% endblock content %}